.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* border: solid 4px var(--CorBorda); */
  /* border-radius: 50%; */
  /* background: hsla(0, 0%, 67%, 0.1); */

}

.Container img {
  display: flex;
  width: 15rem;
  transition: all 0.4s;
  width: 300px; /* Ajuste o tamanho conforme necessário */
  height: 400px; /* Ajuste o tamanho conforme necessário */
  object-fit: cover;
  border-radius: 40%; /* Raio para bordas arredondadas */
  border: solid 10px #1c1c12 ;
}
.blurred-border {
  width: 300px; /* Largura do elemento */
  height: 200px; /* Altura do elemento */
  background-color: #1C1C1C; /* Cor de fundo */
  position: relative; /* Necessário para posicionar o pseudo-elemento */
  border-radius: 10px; /* Bordas arredondadas (opcional) */
  overflow: hidden; /* Esconde o conteúdo que transborda */
}

.blurred-border::before {
  content: '';
  position: absolute;
  top: -5px; /* Ajuste a posição conforme necessário */
  left: -5px; /* Ajuste a posição conforme necessário */
  right: -5px; /* Ajuste a posição conforme necessário */
  bottom: -5px; /* Ajuste a posição conforme necessário */
  background-color: rgba(28, 28, 28, 0.8); /* Cor esmaecida da borda */
  filter: blur(10px); /* Efeito de desfoque */
  border-radius: 15px; /* Bordas arredondadas (opcional) */
  z-index: -1; /* Coloca atrás do elemento principal */
}


@media only screen and (max-width: 1024px) {
  .Container img {
    width: 15rem;
    opacity: 0.8;
  }
  .Container {
    width: 70%;
    /* background: hsla(0, 0%, 67%, 0.1); */
  }
}
