.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: hsla(0, 0%, 67%, 0.1);
  clip-path: polygon(
    20% 0%,
    0% 20%,
    12% 49%,
    0% 80%,
    20% 100%,
    50% 95%,
    80% 100%,
    100% 80%,
    91% 52%,
    100% 20%,
    80% 0%,
    51% 1%
  );
}

.Container img {
  border-radius: 4rem;
  display: flex;
  -webkit-filter: grayscale(2);
  filter: grayscale(2);
  width: 20rem;
  padding: 10px;
  transition: all 0.4s;
  /* clip-path: polygon(
    20% 0%,
    0% 20%,
    12% 49%,
    0% 80%,
    20% 100%,
    50% 95%,
    80% 100%,
    100% 80%,
    91% 52%,
    100% 20%,
    80% 0%,
    51% 1%
  ); */
  filter: drop-shadow(0 0 2rem #eedd82);
  opacity: 0.8;
}

@media only screen and (max-width: 1024px) {
  .Container img {
    width: 13rem;
    opacity: 0.8;
    padding: 10px;
  }
}
