.Container {
  align-items: center;
  background: hsla(0, 0%, 67%, 0.1);
  border-radius: 2rem;
  display: flex;
  height: 7rem;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s;
  width: 23%;
  text-align: center;
}
.Container:hover {
  background: hsla(0, 0%, 37%, 0.1);
  width: 30%;
}
.Container p {
  color: var(--CorFontApagada);
}
.Container svg {
  transition: all 0.3s;
  fill: var(CorTexto);
  width: 2rem;
}
.Container svg:hover {
  fill: var(--CorFontApagada);
  width: 5.3rem;
}
@media only screen and (max-width: 1024px) {
  .Container {
    display: flex;
    padding: 0.9rem;
    width: 29%;
    height: 6rem;
  }
  .Container svg {
    display: none;
  }
}
